[user]
	name = Pranjal Walia
	email = pranjalwalia77@gmail.com
[color]
	ui = auto
[core]
	editor = vim
[alias]
	s = status
	a = add
	all = add .
	ci = commit
	co = checkout 
	br = branch
	pending = !sh -c 'git log origin/$1..HEAD' -



